<div class="buttons">
  <section class="placements">
    {{#each model as |result|}}
      <aside class="result {{result.winStateClass}}" {{action "remove" result}}></aside>
    {{/each}}
  </section>
  <section class="reset-wrapper">
    <div class="reset-button" {{action "reset"}}>Reset</div>
  </section>
</div>