<div class="buttons">
  <section class="placements">
    {{#each model as |result i|}}
      {{#overwatch/placements/result-button result=result winStateSelected="saveState"}}
        {{i}}
      {{/overwatch/placements/result-button}}
    {{/each}}
  </section>
  <section class="reset-wrapper">
    <div class="reset-button" {{action "reset"}}>Reset</div>
  </section>
</div>