<div class="buttons">
  <section class="placements">
    {{#each model as |result|}}
      {{overwatch/placements/result-button result=result}}
    {{/each}}
  </section>
  <section class="reset-wrapper">
    <div class="reset-button" {{action "reset"}}>Reset</div>
  </section>
</div>