<section class="placements-timeline">
  <aside class="line">
    {{#each points as |result|}}
      {{#if result.id}}
        <div class="point {{if result.win 'win' 'loss'}}"></div>
      {{else}}
        <div class="point"></div>
      {{/if}}
    {{/each}}
  </aside>
</section>