@font-face {
  font-family: 'BigNoodle';
  src: url('fonts/BigNoodle/BigNoodle.woff2') format('woff2'),
       url('fonts/BigNoodle/BigNoodle.woff') format('woff'),
       url('fonts/BigNoodle/BigNoodle.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BigNoodle';
  src: url('fonts/BigNoodle/BigNoodle-Italic.woff2') format('woff2'),
       url('fonts/BigNoodle/BigNoodle-Italic.woff') format('woff'),
       url('fonts/BigNoodle/BigNoodle-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
