<ul class="nav nav-tabs container">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Competetive <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li>{{link-to "Input" "overwatch.competetive.input"}}</li>
      <li>{{link-to "Output" "overwatch.competetive.output"}}</li>
    </ul>
  </li>
</ul>
