.competetive-stats-panel {
  position: relative;
  .content {
    text-align: right;
    position: absolute;
    top: 9px;
    width: 284px;
    bottom: 10px;
    .heading {
      font-family: "BigNoodle";
      font-style: italic;
      padding: 0 45px 0 14px;
      margin: 0;
      height: 45px;
      line-height: 45px;
      &:first-of-type {
        margin-top: 23px;
      }
    }
    .text {
      color: white;
      margin: 0;
      margin-top: 18px;
      font-family: "BigNoodle";
      font-size: 30px;
      padding: 0 45px 0 14px;
      height: 38px;
      line-height: 38px;
      margin-bottom: 15px;
    }
  }
}
.competetive-rank {
  width:168px;
  height:176px;
  background-position: 0 0;
  background-image: url('/assets/images/overwatch/Ranking_system.png');
  &.silver {
    background-position: -168px 0;
  }
  &.gold {
    background-position: -336px 0;
  }
  &.platinum {
    background-position: -504px 0;
  }
  &.diamond {
    background-position: 0 -168px;
  }
  &.master {
    background-position: -168px -168px;
  }
  &.grand-master {
    background-position: -336px -168px;
  }
}
