.placements {
  display: flex;
  flex-wrap: wrap;
  .result {
    height: 50px;
    width: 50px;
    background-color: $gray;
    border-radius: 50%;
    border: 4px solid $gray-dark;
    margin-right: 20px;
    &.win {
      background-color: $brand-success;
      border-color: darken($brand-success,10%);
    }
    &.loss {
      background-color: $brand-danger;
      border-color: darken($brand-danger,10%);
    }
  }
}

.placements-timeline {
  height: 100px;
  display: flex;
  align-items: center;
  &:after, &:before {
    content: '';
    background-color: #e4e4e4;
    width: 6px;
    height: 30px;
  }
  .line {
    width: 100%;
    height: 6px;
    background-color: #e4e4e4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .point {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background-color: #e4e4e4;
      border: 6px solid white;
    }
  }
}