.placements {
  display: flex;
  flex-wrap: wrap;
  .result {
    height: 50px;
    width: 50px;
    background-color: $gray;
    border-radius: 50%;
    border: 4px solid $gray-dark;
    margin-right: 20px;
    &.win {
      background-color: $brand-success;
      border-color: darken($brand-success,10%);
    }
    &.loss {
      background-color: $brand-danger;
      border-color: darken($brand-danger,10%);
    }
  }
}