<aside class="confirm-container {{if showButtons "show-buttons" ""}}" {{action "clickAction"}}>
  <div class="confirm win">
    Win
  </div>
  <div class="confirm loss">
    Loss
  </div>
</aside>
{{yield}}